.ViewJob {
    display: flex;
    position: relative;
    height: 100vh; /* Set height to 100% of the viewport height */
    overflow: hidden; /* Prevents the entire view from overflowing */
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.jobDetails {
    font-weight: bold;
    font-size: 1.1em; /* Increase font size */
}

.jobDetails div {
    margin-bottom: 8px; /* Add margin between each detail */
}

.viewJobComponent {
    flex: 1;
    padding: 2em;
    color: #464646;
    /* overflow-y: auto;*/
    overflow: hidden;
}

.Heading {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
}

.attItem {
    display: flex;
    gap: 1em;
    align-items: center;
}

.headingAndAtts {
    display: flex;
    gap: 2em;
    align-items: center;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Spots {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    margin: 0;
}

.spotsCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99c2a2;
    padding: 0.3em;
    font-weight: 900;
    color: white;
    border-radius: 50%;
    font-size: 1.5em;
}

.toFillS {
    font-weight: 900;
    font-size: 1.2em;
    background-color: transparent;
}

.bottomStuff {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.bottomWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: scroll;
}

.leftPane {
    flex: 2;
    padding-right: 1em;
    overflow-y: auto; /* Allow vertical scrolling */
}

.rightPane {
    flex: 1.5;
    padding-left: 1em;
    overflow-y: auto; /* Allow vertical scrolling */
    display: flex;
    flex-direction: column;
}

.paneWrapper {
    overflow-y: auto;
}

.rightpaneWrapper {
    overflow-y: auto;
}

.applicantsCount {
    padding: 1em 0;
    font-size: 1.3em;
}

b {
    font-weight: 900;
}

.linkPartContainer {
    overflow-x: hidden;
}

.linkSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 255, 212);
    font-weight: 800;
    color: rgb(3, 68, 3);
    border-radius: 0.5em;
    box-shadow: 1px 8px 19px 0px rgba(0, 145, 11, 0.18);
    padding: 0.5em 1em;
    margin: 1em 0;
}

.iconPat {
    cursor: pointer;
    transition: 300ms;
}

.iconPat:hover {
    transform: rotate(16deg) scale(1.7);
}

.iconPat:active {
    transform: scale(1.2);
}

.delete {
    background-color: rgb(189, 89, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.edit {
    background-color: rgb(65, 71, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.HrmCreator {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #464646;
}

.disableButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight:500;
    border: none;
    background-color: #ec493a !important;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.disableButton:hover {
    background-color: #a23026 !important;
}

.disableButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.data {
    margin-right: 10px;
}





.viewApplicantsButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #2196F3; /* Blue color */
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; /* Adjust margin as needed */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-weight:500;
}

.viewApplicantsButton:hover {
    background-color: #0e7cdd; /* Darker shade of blue on hover */
}