.adminDashboard {
    display: flex;
    flex-direction: row; /* Change to row for horizontal alignment */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full height */
}



.adminCard {
    padding: 20px;
    border-radius: 12px;
    background: #007BFF;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.adminCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.adminCard h2 {
    margin: 0;
    font-size: 1.5em;
}

.adminHeading {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
}
/* Adjusted margin for the adminDashboard */
.adminDashboard {
    margin-bottom: 10px; /* Reduced margin */
}

/* New styles for aligning buttons horizontally */
.adminButtonContainer {
    display: flex;
    gap: 20px; /* Adjust spacing between buttons */
}

@media (max-width: 768px) {
    .adminCard {
        width: 90%; /* Adjust width for smaller screens */
        height: 200px; /* Adjust height for smaller screens */
    }
}
