
.ApplyJob_ApplyJob {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.ApplyJob_ApplyJob .Frame135 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1447.53px;
	height: 29.28px;
	display: flex;
	padding-right: 183px;
	padding-left: 183px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 {
	position: relative;
	flex: none;
	width: 301.95px;
	height: 29.28px;
	display: flex;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 24.4px;
	height: 29.28px;
	display: flex;
	padding-top: 8.54px;
	padding-bottom: 8.54px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink .Home {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 24.4px;
	height: 12.2px;
	color: rgba(127,127,127,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 500;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_1 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 35.38px;
	height: 29.28px;
	display: flex;
	padding-top: 8.54px;
	padding-bottom: 8.54px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_1 .Home_1 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 35.38px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_2 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 42.089999999999996px;
	height: 29.28px;
	display: flex;
	padding-top: 8.54px;
	padding-bottom: 8.54px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_2 .Home_2 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 42.089999999999996px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_3 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 46.36px;
	height: 29.28px;
	display: flex;
	padding-top: 8.54px;
	padding-bottom: 8.54px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_3 .Home_3 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 46.36px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_4 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 36.6px;
	height: 29.28px;
	display: flex;
	padding-top: 8.54px;
	padding-bottom: 8.54px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_4 .Aboutus {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 36.6px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_5 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 43.92px;
	height: 29.28px;
	display: flex;
	padding-top: 8.54px;
	padding-bottom: 8.54px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.ApplyJob_ApplyJob .Frame135 .Frame130 .NavLink_5 .Contactus {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 43.92px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 {
	position: relative;
	flex: none;
	width: 172.63px;
	height: 14.64px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 94.55px;
	height: 14.64px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 .PhoneCall {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 14.64px;
	height: 14.64px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.64px;
	height: 14.64px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_1 {
	position: absolute;
	left: 9.116640625px;
	top: 2.2875px;
	width: 22.10256258646647%;
	height: 22.102582454681396%;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_2 {
	position: absolute;
	left: 8.6424609375px;
	top: 4.055584106445313px;
	width: 13.26154867808024%;
	height: 13.261562585830688%;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_3 {
	position: absolute;
	left: 2.2875px;
	top: 1.8484854125976562px;
	width: 71.74873352050781%;
	height: 71.74873352050781%;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .Frame134 ._213246628899 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 75.03px;
	height: 12.2px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 500;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .NavLink_6 {
	position: relative;
	flex: none;
	margin-right: 14.64px;
	width: 63.44px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .NavLink_6 .image1 {
	position: absolute;
	left: 0px;
	top: 1.22px;
	width: 14.64px;
	height: 9.76px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .NavLink_6 .Frame129 {
	position: absolute;
	left: 21.96px;
	top: 0px;
	width: 41.48px;
	height: 12.2px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .NavLink_6 .Frame129 .English {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 29.28px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .NavLink_6 .Frame129 .fichevrondown {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 9.76px;
	height: 9.76px;
}
.ApplyJob_ApplyJob .Frame135 .Frame135_1 .NavLink_6 .Frame129 .fichevrondown .Vector_4 {
	position: absolute;
	left: 2.44px;
	top: 3.66px;
	width: 50%;
	height: 25%;
}
.ApplyJob_ApplyJob .Navigation {
	position: absolute;
	left: 0px;
	top: 29.28px;
	width: 1447.53px;
	height: 42.699999999999996px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1171.2px;
	height: 57.949999999999996px;
	display: flex;
	padding-top: 12.2px;
	padding-right: 183px;
	padding-bottom: 12.2px;
	padding-left: 183px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 {
	position: relative;
	flex: none;
	width: 784.46px;
	height: 33.55px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo {
	position: relative;
	flex: none;
	margin-right: 19.52px;
	width: 435.53999999999996px;
	height: 33.55px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 7.703081232492997%;
	height: 100%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_6 {
	position: absolute;
	left: 4.19494140625px;
	top: 9.4359375px;
	width: 75%;
	height: 56.250020807439626%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_7 {
	position: absolute;
	left: 11.5328125px;
	top: 5.2421875px;
	width: 31.25%;
	height: 12.5%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_8 {
	position: absolute;
	left: 4.194345703125px;
	top: 16.5533984375px;
	width: 75.00058954412286%;
	height: 10.035572052001953%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_9 {
	position: absolute;
	left: 15.202343749999999px;
	top: 15.7265625px;
	width: 9.375%;
	height: 0%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Logo .RecruitRanks {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 141.52px;
	height: 24.4px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 21.96px;
	font-weight: 600;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search {
	position: relative;
	flex: none;
	margin-right: 19.52px;
	width: 593.53px;
	height: 30.5px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.05px;
	border: 1px solid rgba(228.0000016093254,229.00000154972076,232.00000137090683,1);
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 {
	position: absolute;
	left: 14.64px;
	top: 30.5%;
	transform: translate(0, -50%);
	width: 259.25px;
	height: 19.52px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Flag_of_Pakistan1 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 14.64px;
	height: 9.76px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 52.46px;
	height: 12.2px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .Pakistan {
	position: relative;
	flex: none;
	margin-right: 7.32px;
	width: 35.38px;
	height: 12.2px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 500;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown {
	position: relative;
	flex: none;
	margin-right: 7.32px;
	width: 9.76px;
	height: 9.76px;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown .CaretDown_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9.76px;
	height: 9.76px;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown .CaretDown_1 .Vector_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown .CaretDown_1 .Vector_11 {
	position: absolute;
	left: 1.83px;
	top: 3.66px;
	width: 62.5%;
	height: 31.25%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Line31 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 8.532475476386025e-7px;
	height: 19.52px;
	border: 1px solid rgba(228.0000016093254,229.00000154972076,232.00000137090683,1);
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 155.54999999999998px;
	height: 14.64px;
	display: flex;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .fisearch {
	position: relative;
	flex: none;
	margin-right: 7.32px;
	width: 14.64px;
	height: 14.64px;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .fisearch .Vector_12 {
	position: absolute;
	left: 1.83px;
	top: 1.83px;
	width: 66.66666666666666%;
	height: 66.66666666666666%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .fisearch .Vector_13 {
	position: absolute;
	left: 10.15673828125px;
	top: 10.156496276855469px;
	width: 18.12500158945719%;
	height: 18.12500158945719%;
}
.ApplyJob_ApplyJob .Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .Jobtittlekeywordcompany {
	position: relative;
	flex: none;
	margin-right: 7.32px;
	width: 133.59px;
	height: 14.64px;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer {
	position: absolute;
	left: 0px;
	top: 2011.78px;
	width: 1447.53px;
	height: 275.71999999999997px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	background: rgba(97,65,129,1.00);
}
.ApplyJob_ApplyJob .Footer .Footer_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 805.1999999999999px;
	height: 234.24px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo {
	position: absolute;
	left: 0px;
	top: 61px;
	width: 190.32px;
	height: 87.84px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 {
	position: relative;
	flex: none;
	margin-bottom: 14.64px;
	width: 123.83px;
	height: 24.4px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 19.704433497536947%;
	height: 100%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_15 {
	position: absolute;
	left: 3.05119140625px;
	top: 6.8625px;
	width: 75%;
	height: 56.25001907348632%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_16 {
	position: absolute;
	left: 8.3875px;
	top: 3.8125px;
	width: 31.25%;
	height: 12.5%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_17 {
	position: absolute;
	left: 3.05119140625px;
	top: 12.0388623046875px;
	width: 75.00059127807617%;
	height: 10.035572052001953%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_18 {
	position: absolute;
	left: 11.05625px;
	top: 11.4375px;
	width: 9.375%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Logo_1 .Jobpilot {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 94.55px;
	height: 24.4px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 14.64px;
	font-weight: 600;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Frame7 {
	position: relative;
	flex: none;
	margin-bottom: 14.64px;
	width: 190.32px;
	height: 48.8px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Frame7 .PhoneNumber {
	position: relative;
	flex: none;
	margin-bottom: 7.32px;
	width: 131.15px;
	height: 17.08px;
	display: flex;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Frame7 .PhoneNumber .Callnow {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 47.58px;
	height: 17.08px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.98px;
	font-weight: 400;
	line-height: 17.08px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Frame7 .PhoneNumber ._3195550115 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 83.57px;
	height: 17.08px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 10.98px;
	font-weight: 500;
	line-height: 17.08px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Jendo .Frame7 ._6391ElginStCelinaDelaware10299NewYorkUnitedStatesofAmerica {
	position: relative;
	flex: none;
	margin-bottom: 7.32px;
	width: 190.32px;
	height: 24.4px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com {
	position: absolute;
	left: 245.22px;
	top: 61px;
	width: 122px;
	height: 124.44px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .QuickLink {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 122px;
	height: 19.52px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12.2px;
	font-weight: 500;
	line-height: 19.52px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 53.68px;
	height: 95.16px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 28.06px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink .fiarrowright {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink .fiarrowright .Vector_19 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink .fiarrowright .Vector_20 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink .FooterLink_1 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_2 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 53.68px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_1 {
	position: relative;
	flex: none;
	margin-right: 3.66px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_1 .Vector_21 {
	position: absolute;
	left: 2.5412695312499998px;
	top: 6.1px;
	width: 58.33333015441895%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_1 .Vector_22 {
	position: absolute;
	left: 6.1px;
	top: 2.5417163085937498px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_2 .Contact {
	position: relative;
	flex: none;
	margin-right: 3.66px;
	width: 70.45454545454545%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 500;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_3 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 31.72px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_2 .Vector_23 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_2 .Vector_24 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_3 .FooterLink_4 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_5 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 20.74px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_3 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_3 .Vector_25 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_3 .Vector_26 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Com .Link .FooterLink_5 .FooterLink_6 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate {
	position: absolute;
	left: 391.62px;
	top: 61px;
	width: 122px;
	height: 124.44px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Candidate_1 {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 122px;
	height: 19.52px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12.2px;
	font-weight: 500;
	line-height: 19.52px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 100.64999999999999px;
	height: 95.16px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 59.78px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_4 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_4 .Vector_27 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_4 .Vector_28 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .FooterLink_8 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 84.78999999999999px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_5 .Vector_29 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_5 .Vector_30 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .FooterLink_10 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 100.64999999999999px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_6 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_6 .Vector_31 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_6 .Vector_32 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .FooterLink_12 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 53.68px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_7 .Vector_33 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_7 .Vector_34 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .FooterLink_14 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers {
	position: absolute;
	left: 538.02px;
	top: 61px;
	width: 122px;
	height: 124.44px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Employers_1 {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 122px;
	height: 19.52px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12.2px;
	font-weight: 500;
	line-height: 19.52px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 101.25999999999999px;
	height: 95.16px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 48.8px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_8 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_8 .Vector_35 {
	position: absolute;
	left: 2.5412695312499998px;
	top: 6.1px;
	width: 58.33333015441895%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_8 .Vector_36 {
	position: absolute;
	left: 6.1px;
	top: 2.5417163085937498px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .FooterLink_16 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 89.67px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_9 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_9 .Vector_37 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_9 .Vector_38 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .FooterLink_18 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 101.25999999999999px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_10 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_10 .Vector_39 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_10 .Vector_40 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .EmployersDashboard {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 56.73px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_11 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_11 .Vector_41 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_11 .Vector_42 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .FooterLink_21 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support {
	position: absolute;
	left: 684.42px;
	top: 61px;
	width: 122px;
	height: 100.03999999999999px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Support_1 {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 122px;
	height: 19.52px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12.2px;
	font-weight: 500;
	line-height: 19.52px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 {
	position: relative;
	flex: none;
	margin-bottom: 9.76px;
	width: 89.67px;
	height: 70.76px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_22 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 22.57px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_12 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_12 .Vector_43 {
	position: absolute;
	left: 2.5412695312499998px;
	top: 6.1px;
	width: 58.33333015441895%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_12 .Vector_44 {
	position: absolute;
	left: 6.1px;
	top: 2.5417163085937498px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .FooterLink_23 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_24 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 64.05px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_13 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_13 .Vector_45 {
	position: absolute;
	left: 3.05px;
	top: 7.32px;
	width: 70%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_13 .Vector_46 {
	position: absolute;
	left: 7.32px;
	top: 3.05px;
	width: 35%;
	height: 70%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .FooterLink_25 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_26 {
	position: relative;
	flex: none;
	margin-bottom: 2.44px;
	width: 89.67px;
	height: 21.96px;
	display: flex;
	padding-top: 3.66px;
	padding-bottom: 3.66px;
	box-sizing: border-box;
	align-items: center;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_14 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_14 .Vector_47 {
	position: absolute;
	left: 2.5412695312499998px;
	top: 6.1px;
	width: 58.33333015441895%;
	height: 0%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_14 .Vector_48 {
	position: absolute;
	left: 6.1px;
	top: 2.5417163085937498px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.ApplyJob_ApplyJob .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .FooterLink_27 {
	position: relative;
	flex: none;
	margin-right: 2.44px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 9.76px;
	font-weight: 400;
	line-height: 14.64px;
}
.ApplyJob_ApplyJob .Footer .Copyright {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1437.77px;
	height: 41.48px;
	display: flex;
	padding-top: 14.64px;
	padding-right: 183px;
	padding-bottom: 14.64px;
	padding-left: 183px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(24,25,28,1.00);
}
.ApplyJob_ApplyJob .Footer .Copyright ._2021JobpilotJobPortalAllrightsRserved {
	position: relative;
	flex: none;
	width: 190.93px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia {
	position: relative;
	flex: none;
	width: 79.30051193237304px;
	height: 12.2px;
	display: flex;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .Vector_49 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 7.692900659468868%;
	height: 100%;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .youtube1 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .youtube1 .Vector_50 {
	position: absolute;
	left: 0px;
	top: 1.83461669921875px;
	width: 100%;
	height: 70.01618385314941%;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .youtube1 .Vector_51 {
	position: absolute;
	left: 4.88357421875px;
	top: 4.27670166015625px;
	width: 26.029205322265625%;
	height: 29.9835205078125%;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .instagram1 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .instagram1 .Vector_52 {
	position: absolute;
	left: 0.0214453125px;
	top: 0px;
	width: 99.98046875%;
	height: 99.99969482421875%;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .instagram1 .Vector_53 {
	position: absolute;
	left: 2.9880468749999998px;
	top: 2.9670483398437497px;
	width: 51.37722015380859%;
	height: 51.37722015380859%;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .instagram1 .Vector_54 {
	position: absolute;
	left: 8.64841796875px;
	top: 2.11161865234375px;
	width: 11.995058059692383%;
	height: 11.994261741638184%;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .twitter1 {
	position: relative;
	flex: none;
	margin-right: 12.2px;
	width: 12.2px;
	height: 12.2px;
}
.ApplyJob_ApplyJob .Footer .Copyright .SocialMedia .twitter1 .Vector_55 {
	position: absolute;
	left: 0px;
	top: 1.14375px;
	width: 100%;
	height: 81.25%;
}
.ApplyJob_ApplyJob .Rectangle1591 {
	position: absolute;
	left: 0px;
	top: 84.17999999999999px;
	width: 340.99px;
	height: 1927.6px;
	background: rgba(247,247,248,1.00);
	border-radius: 35.99px;
	border: 1px solid rgba(0,0,0,1);
}
.ApplyJob_ApplyJob .image9 {
	position: absolute;
	left: 80.52px;
	top: 298.29px;
	width: 159.21px;
	height: 154.32999999999998px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 61px;
}
.ApplyJob_ApplyJob .KhansaJunaid {
	position: absolute;
	left: 78.08px;
	top: 497.76px;
	width: 250.71px;
	height: 31.72px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 24.4px;
	font-weight: 500;
	line-height: 29.28px;
}
.ApplyJob_ApplyJob .khansajunaidinfolabscoom {
	position: absolute;
	left: 32.33px;
	top: 550.83px;
	width: 333.67px;
	height: 35.38px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 19.52px;
	font-weight: 300;
	line-height: 23.424000930786132px;
}
.ApplyJob_ApplyJob .HOME {
	position: absolute;
	left: 132.37px;
	top: 687.47px;
	width: 178.73px;
	height: 35.38px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 21.96px;
	font-weight: 500;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .SIGNOUT {
	position: absolute;
	left: 132.37px;
	top: 1191.33px;
	width: 178.73px;
	height: 35.38px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 21.96px;
	font-weight: 500;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .MYJOBS {
	position: absolute;
	left: 132.37px;
	top: 1052.86px;
	width: 178.73px;
	height: 35.38px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 21.96px;
	font-weight: 300;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .EDITPROFILE {
	position: absolute;
	left: 114.07px;
	top: 927.81px;
	width: 178.73px;
	height: 35.38px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 21.96px;
	font-weight: 500;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .POSTAJOB {
	position: absolute;
	left: 114.07px;
	top: 791.17px;
	width: 178.73px;
	height: 35.38px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 21.96px;
	font-weight: 500;
	line-height: 24.4px;
}
.ApplyJob_ApplyJob .image10 {
	position: absolute;
	left: 62.83px;
	top: 678.93px;
	width: 40.87px;
	height: 37.51082077026367px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .image12 {
	position: absolute;
	left: 63.44px;
	top: 785.68px;
	width: 40.457173080444335px;
	height: 40.87px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .image14 {
	position: absolute;
	left: 72.59px;
	top: 916.22px;
	width: 40.87px;
	height: 40.87px;
}
.ApplyJob_ApplyJob .image16 {
	position: absolute;
	left: 63.44px;
	top: 1026.6299999999999px;
	width: 51.85px;
	height: 51.85px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .image18 {
	position: absolute;
	left: 78.08px;
	top: 1179.74px;
	width: 40.87px;
	height: 40.87px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .image19 {
	position: absolute;
	left: 70.14999999999999px;
	top: 918.66px;
	width: 40.87px;
	height: 38.46588180541992px;
	object-fit: cover;
	overflow: hidden;
}
.ApplyJob_ApplyJob .Rectangle51 {
	position: absolute;
	left: 408.09px;
	top: 429.44px;
	width: 976.61px;
	height: 850.9499999999999px;
	background: rgba(245,245,245,1.00);
}
.ApplyJob_ApplyJob .Rectangle47 {
	position: absolute;
	left: 484.95px;
	top: 550.83px;
	width: 807.03px;
	height: 52.46px;
	background: rgba(217,217,217,1.00);
}
.ApplyJob_ApplyJob .Rectangle48 {
	position: absolute;
	left: 484.95px;
	top: 733.22px;
	width: 808.86px;
	height: 52.46px;
	background: rgba(217,217,217,1.00);
}
.ApplyJob_ApplyJob .Rectangle49 {
	position: absolute;
	left: 484.95px;
	top: 938.18px;
	width: 808.86px;
	height: 52.46px;
	background: rgba(217,217,217,1.00);
}
.ApplyJob_ApplyJob .Rectangle46 {
	position: absolute;
	left: 484.95px;
	top: 1091.29px;
	width: 807.03px;
	height: 52.46px;
	background: rgba(217,217,217,1.00);
}
.ApplyJob_ApplyJob .Walkusthroughyourdesignprocess {
	position: absolute;
	left: 488px;
	top: 494.09999999999997px;
	width: 329.4px;
	height: 27.45px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 17.08px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Proficientinwhichdesigntools {
	position: absolute;
	left: 494.71px;
	top: 683.81px;
	width: 303.17px;
	height: 27.45px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 17.08px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Howdoyouensureyourdesignsareuserfriendlyandaccessible {
	position: absolute;
	left: 494.71px;
	top: 873.52px;
	width: 536.1899999999999px;
	height: 12.2px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 17.08px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Giveanexampleofhowyoubalanceuserneedswithbusinessgoalsinyourdesigns {
	position: absolute;
	left: 486.78px;
	top: 1047.37px;
	width: 685.03px;
	height: 5.49px;
	display: flex;
	align-items: flex-end;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 17.08px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Rectangle50 {
	position: absolute;
	left: 797.88px;
	top: 1204.75px;
	width: 165.31px;
	height: 43.92px;
	background: rgba(97,65,129,1.00);
	border-radius: 61px;
}
.ApplyJob_ApplyJob .Submit {
	position: absolute;
	left: 843.63px;
	top: 1220.61px;
	width: 105.53px;
	height: 27.45px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 17.08px;
	font-weight: 700;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb {
	position: absolute;
	left: 340.99px;
	top: 139.07999999999998px;
	width: 1106.54px;
	height: 46.36px;
	background: rgba(197,188,206,1.00);
}
.ApplyJob_ApplyJob .Breadcrumb .Label {
	position: relative;
	flex: none;
	width: 58.56px;
	height: 17.08px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 10.98px;
	font-weight: 500;
	line-height: 17.08px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process {
	position: relative;
	flex: none;
	width: 263.52px;
	height: 12.2px;
	display: flex;
	box-sizing: border-box;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_1 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 24.4px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process ._ {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 21.96px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_3 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 21.96px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_4 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 21.96px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__3 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 21.96px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__4 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_6 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 21.96px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_7 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 35.38px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__6 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_8 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 74.42px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .__7 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 3.05px;
	height: 12.2px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Breadcrumb .Process .Label_9 {
	position: relative;
	flex: none;
	margin-right: 4.88px;
	width: 90.89px;
	height: 12.2px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 8.54px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob .Ellipse2 {
	position: absolute;
	left: 531.31px;
	top: 233.01999999999998px;
	width: 40.26px;
	height: 35.38px;
	background: rgba(204,191,217,1.00);
	border-radius: 50%;
}
.ApplyJob_ApplyJob .Line117 {
	position: absolute;
	left: 569.74px;
	top: 250.71px;
	width: 104.31px;
	height: 2.2948294436275774e-7px;
	border: 1px solid rgba(0,0,0,1);
}
.ApplyJob_ApplyJob .Ellipse4 {
	position: absolute;
	left: 674.05px;
	top: 233.01999999999998px;
	width: 40.26px;
	height: 35.38px;
	background: rgba(97,65,129,1.00);
	border-radius: 50%;
}
.ApplyJob_ApplyJob .Line118 {
	position: absolute;
	left: 713.09px;
	top: 250.71px;
	width: 104.31px;
	height: 2.2948294436275774e-7px;
	border: 1px solid rgba(0,0,0,1);
}
.ApplyJob_ApplyJob .Ellipse5 {
	position: absolute;
	left: 816.79px;
	top: 233.01999999999998px;
	width: 40.26px;
	height: 35.38px;
	background: rgba(97,65,129,1.00);
	border-radius: 50%;
}
.ApplyJob_ApplyJob .Line119 {
	position: absolute;
	left: 857.05px;
	top: 250.71px;
	width: 125.66px;
	height: 2.6169107272266954e-7px;
	border: 1px solid rgba(0,0,0,1);
}
.ApplyJob_ApplyJob .Ellipse3 {
	position: absolute;
	left: 982.7099999999999px;
	top: 233.01999999999998px;
	width: 40.26px;
	height: 35.38px;
	background: rgba(97,65,129,1.00);
	border-radius: 50%;
}
.ApplyJob_ApplyJob .Line120 {
	position: absolute;
	left: 1025.41px;
	top: 250.71px;
	width: 101.25999999999999px;
	height: 4.265075276066455e-8px;
	border: 1px solid rgba(0,0,0,1);
}
.ApplyJob_ApplyJob .Ellipse1 {
	position: absolute;
	left: 1125.45px;
	top: 233.01999999999998px;
	width: 40.26px;
	height: 35.38px;
	background: rgba(97,65,129,1.00);
	border-radius: 50%;
}
.ApplyJob_ApplyJob ._1 {
	position: absolute;
	left: 547.78px;
	top: 241.56px;
	width: 21.96px;
	height: 18.3px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 19.52px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob ._2 {
	position: absolute;
	left: 688.6899999999999px;
	top: 241.56px;
	width: 21.96px;
	height: 18.3px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 19.52px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob ._3 {
	position: absolute;
	left: 832.04px;
	top: 241.56px;
	width: 21.96px;
	height: 18.3px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 19.52px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob ._4 {
	position: absolute;
	left: 993.0799999999999px;
	top: 240.95px;
	width: 21.96px;
	height: 18.3px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 19.52px;
	font-weight: 400;
	line-height: 12.2px;
}
.ApplyJob_ApplyJob ._5 {
	position: absolute;
	left: 1139.48px;
	top: 240.95px;
	width: 21.96px;
	height: 18.3px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 19.52px;
	font-weight: 400;
	line-height: 12.2px;
}