
.Breadcrumb_Breadcrumb {
	width: 1920px;
	height: 76px;
	display: flex;
	padding-top: 24px;
	padding-right: 300px;
	padding-bottom: 24px;
	padding-left: 300px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(241,242,244,1.00);
}