
.EmployersGoogleSizeMedium_EmployersGoogleSizeMedium {
	width: 56px;
	height: 56px;
	display: flex;
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	box-sizing: border-box;
	background: rgba(237,239,245,1.00);
	border-radius: 4px;
}