.Footer {
	position: absolute;
	left: 0px;
	top: 3060px;
	width: 1440px;
	height: 339px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	background: rgba(97,65,129,1.00);
}
.Footer .Footer_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 990px;
	height: 288px;
}
.Footer .Footer_1 .Jendo {
	position: absolute;
	left: 0px;
	top: 75px;
	width: 234px;
	height: 108px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Jendo .Logo {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 152.25px;
	height: 30px;
}
.Footer .Footer_1 .Jendo .Logo .briefcase1 {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 19.704433497536947%;
	height: 100%;
}
.Footer .Footer_1 .Jendo .Logo .briefcase1 .Vector_87 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Footer .Footer_1 .Jendo .Logo .briefcase1 .Vector_88 {
	position: absolute;
	left: 3.75091552734375px;
	top: 8.4375px;
	width: 75%;
	height: 56.25001907348632%;
}
.Footer .Footer_1 .Jendo .Logo .briefcase1 .Vector_89 {
	position: absolute;
	left: 10.3125px;
	top: 4.6875px;
	width: 31.25%;
	height: 12.5%;
}
.Footer .Footer_1 .Jendo .Logo .briefcase1 .Vector_90 {
	position: absolute;
	left: 3.7507781982421875px;
	top: 14.8018798828125px;
	width: 75.00059127807617%;
	height: 10.035572052001953%;
}
.Footer .Footer_1 .Jendo .Logo .briefcase1 .Vector_91 {
	position: absolute;
	left: 13.59375px;
	top: 14.0625px;
	width: 9.375%;
	height: 0%;
}
.Footer .Footer_1 .Jendo .Logo .Jobpilot {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 116.25px;
	height: 30px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}
.Footer .Footer_1 .Jendo .Frame7 {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 234px;
	height: 60px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Jendo .Frame7 .PhoneNumber {
	position: relative;
	flex: none;
	margin-bottom: 9px;
	width: 161.25px;
	height: 21px;
	display: flex;
	box-sizing: border-box;
}
.Footer .Footer_1 .Jendo .Frame7 .PhoneNumber .Callnow {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 58.5px;
	height: 21px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 21px;
}
.Footer .Footer_1 .Jendo .Frame7 .PhoneNumber ._3195550115 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 102.75px;
	height: 21px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 13.5px;
	font-weight: 500;
	line-height: 21px;
}
.Footer .Footer_1 .Jendo .Frame7 ._6391ElginStCelinaDelaware10299NewYorkUnitedStatesofAmerica {
	position: relative;
	flex: none;
	margin-bottom: 9px;
	width: 234px;
	height: 30px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Footer .Footer_1 .Com {
	position: absolute;
	left: 301.5px;
	top: 75px;
	width: 150px;
	height: 153px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Com .QuickLink {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Footer .Footer_1 .Com .Link {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 66px;
	height: 117px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Com .Link .FooterLink {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 34.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Com .Link .FooterLink .fiarrowright_1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Com .Link .FooterLink .fiarrowright_1 .Vector_92 {
	position: absolute;
	left: 3.1250038146972656px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Com .Link .FooterLink .fiarrowright_1 .Vector_93 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Com .Link .FooterLink .FooterLink_1 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Com .Link .FooterLink_2 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 66px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_2 {
	position: relative;
	flex: none;
	margin-right: 4.5px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_2 .Vector_94 {
	position: absolute;
	left: 3.1250038146972656px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_2 .Vector_95 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Com .Link .FooterLink_2 .Contact {
	position: relative;
	flex: none;
	margin-right: 4.5px;
	width: 70.45454545454545%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.Footer .Footer_1 .Com .Link .FooterLink_3 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 39px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_3 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_3 .Vector_96 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_3 .Vector_97 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Footer .Footer_1 .Com .Link .FooterLink_3 .FooterLink_4 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Com .Link .FooterLink_5 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 25.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_4 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_4 .Vector_98 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_4 .Vector_99 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Footer .Footer_1 .Com .Link .FooterLink_5 .FooterLink_6 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Candidate {
	position: absolute;
	left: 481.5px;
	top: 75px;
	width: 150px;
	height: 153px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Candidate .Candidate_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Footer .Footer_1 .Candidate .Link_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 123.75px;
	height: 117px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 73.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_5 .Vector_100 {
	position: absolute;
	left: 3.1249923706054688px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_5 .Vector_101 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .FooterLink_8 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 104.25px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_6 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_6 .Vector_102 {
	position: absolute;
	left: 3.1249923706054688px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_6 .Vector_103 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .FooterLink_10 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 123.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_7 .Vector_104 {
	position: absolute;
	left: 3.1249923706054688px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_7 .Vector_105 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .FooterLink_12 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 66px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_8 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_8 .Vector_106 {
	position: absolute;
	left: 3.1249923706054688px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_8 .Vector_107 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .FooterLink_14 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Employers {
	position: absolute;
	left: 661.5px;
	top: 75px;
	width: 150px;
	height: 153px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Employers .Employers_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Footer .Footer_1 .Employers .Link_2 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 124.5px;
	height: 117px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_15 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 60px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_9 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_9 .Vector_108 {
	position: absolute;
	left: 3.1250152587890625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_9 .Vector_109 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .FooterLink_16 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_17 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 110.25px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_10 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_10 .Vector_110 {
	position: absolute;
	left: 3.1250152587890625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_10 .Vector_111 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .FooterLink_18 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_19 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 124.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_11 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_11 .Vector_112 {
	position: absolute;
	left: 3.1250152587890625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_11 .Vector_113 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .EmployersDashboard {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_20 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 69.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_12 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_12 .Vector_114 {
	position: absolute;
	left: 3.1250152587890625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_12 .Vector_115 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .FooterLink_21 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Support {
	position: absolute;
	left: 841.5px;
	top: 75px;
	width: 150px;
	height: 123px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Support .Support_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Footer .Footer_1 .Support .Link_3 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 110.25px;
	height: 87px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_22 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 27.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_13 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_13 .Vector_116 {
	position: absolute;
	left: 3.1250152587890625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_13 .Vector_117 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_22 .FooterLink_23 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_24 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 78.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_14 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_14 .Vector_118 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_14 .Vector_119 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_24 .FooterLink_25 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_26 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 110.25px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_15 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_15 .Vector_120 {
	position: absolute;
	left: 3.1250152587890625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_15 .Vector_121 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Footer .Footer_1 .Support .Link_3 .FooterLink_26 .FooterLink_27 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Footer .Copyright {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1440px;
	height: 51px;
	display: flex;
	padding-top: 18px;
	padding-right: 225px;
	padding-bottom: 18px;
	padding-left: 225px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(24,25,28,1.00);
}
.Footer .Copyright ._2021JobpilotJobPortalAllrightsRserved {
	position: relative;
	flex: none;
	width: 234.75px;
	height: 15px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Footer .Copyright .SocialMedia {
	position: relative;
	flex: none;
	width: 97.50062942504883px;
	height: 15px;
	display: flex;
	box-sizing: border-box;
}
.Footer .Copyright .SocialMedia .Vector_122 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 7.692900659468868%;
	height: 100%;
}
.Footer .Copyright .SocialMedia .youtube1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 15px;
	height: 15px;
}
.Footer .Copyright .SocialMedia .youtube1 .Vector_123 {
	position: absolute;
	left: 0px;
	top: 2.25567626953125px;
	width: 100%;
	height: 70.01618385314941%;
}
.Footer .Copyright .SocialMedia .youtube1 .Vector_124 {
	position: absolute;
	left: 6.0048980712890625px;
	top: 5.25823974609375px;
	width: 26.029205322265625%;
	height: 29.9835205078125%;
}
.Footer .Copyright .SocialMedia .instagram1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 15px;
	height: 15px;
}
.Footer .Copyright .SocialMedia .instagram1 .Vector_125 {
	position: absolute;
	left: 0.0263671875px;
	top: 0px;
	width: 99.98046875%;
	height: 99.99969482421875%;
}
.Footer .Copyright .SocialMedia .instagram1 .Vector_126 {
	position: absolute;
	left: 3.6745147705078125px;
	top: 3.64801025390625px;
	width: 51.37722015380859%;
	height: 51.37722015380859%;
}
.Footer .Copyright .SocialMedia .instagram1 .Vector_127 {
	position: absolute;
	left: 10.63385009765625px;
	top: 2.59625244140625px;
	width: 11.995058059692383%;
	height: 11.994261741638184%;
}
.Footer .Copyright .SocialMedia .twitter1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 15px;
	height: 15px;
}
.Footer .Copyright .SocialMedia .twitter1 .Vector_128 {
	position: absolute;
	left: 0px;
	top: 1.40625px;
	width: 100%;
	height: 81.25%;
}