
.Navigation_Navigation {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
}
.Navigation_Navigation .Navigation_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1440px;
	height: 67.5px;
	display: flex;
	padding-top: 15px;
	padding-right: 225px;
	padding-bottom: 15px;
	padding-left: 225px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.Navigation_Navigation .Navigation_1 .Frame126 {
	position: relative;
	flex: none;
	width: 677.25px;
	height: 37.5px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 152.25px;
	height: 30px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .briefcase1 {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 19.704433497536947%;
	height: 100%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_1 {
	position: absolute;
	left: 3.75091552734375px;
	top: 8.4375px;
	width: 75%;
	height: 56.25001907348632%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_2 {
	position: absolute;
	left: 10.3125px;
	top: 4.6875px;
	width: 31.25%;
	height: 12.5%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_3 {
	position: absolute;
	left: 3.7507781982421875px;
	top: 14.801856994628906px;
	width: 75.00059127807617%;
	height: 10.035572052001953%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_4 {
	position: absolute;
	left: 13.59375px;
	top: 14.0625px;
	width: 9.375%;
	height: 0%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Logo .RecruitRanks {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 116.25px;
	height: 30px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 501px;
	height: 37.5px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.75px;
	border: 1px solid rgba(228.0000016093254,229.00000154972076,232.00000137090683,1);
	box-sizing: border-box;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 {
	position: absolute;
	left: 18px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 318.75px;
	height: 24px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Flag_of_Pakistan1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 18px;
	height: 12px;
	object-fit: cover;
	overflow: hidden;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 64.5px;
	height: 15px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .Pakistan {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 43.5px;
	height: 15px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown .CaretDown_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12px;
	height: 12px;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown .CaretDown_1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame127 .CaretDown .CaretDown_1 .Vector_6 {
	position: absolute;
	left: 2.25px;
	top: 4.5px;
	width: 62.5%;
	height: 31.25%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Line31 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 0.0000010490737452073517px;
	height: 24px;
	border: 1px solid rgba(228.0000016093254,229.00000154972076,232.00000137090683,1);
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 191.25px;
	height: 18px;
	display: flex;
	box-sizing: border-box;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .fisearch {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 18px;
	height: 18px;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .fisearch .Vector_7 {
	position: absolute;
	left: 2.25px;
	top: 2.25px;
	width: 66.66666666666666%;
	height: 66.66666666666666%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .fisearch .Vector_8 {
	position: absolute;
	left: 12.487495422363281px;
	top: 12.487495422363281px;
	width: 18.12500158945719%;
	height: 18.12500158945719%;
}
.Navigation_Navigation .Navigation_1 .Frame126 .Search .Frame136 .Frame128 .Jobtittlekeywordcompany {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 164.25px;
	height: 18px;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Navigation_Navigation .Navigation_1 .Button {
	position: relative;
	flex: none;
	width: 169.5px;
	height: 36px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Navigation_Navigation .Navigation_1 .Button .Button_1 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 75.75px;
	height: 36px;
	display: flex;
	padding-top: 9px;
	padding-right: 18px;
	padding-bottom: 9px;
	padding-left: 18px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 2.25px;
	border: 1px solid rgba(26.25860307365656,24.862499088048935,27.62500025331974,1);
	box-sizing: border-box;
}
.Navigation_Navigation .Navigation_1 .Button .Button_1 .Signin {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 39.75px;
	height: 18px;
	color: rgba(141,84,198,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}
.Navigation_Navigation .Navigation_1 .Button .Button_2 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 84.75px;
	height: 36px;
	display: flex;
	padding-top: 9px;
	padding-right: 18px;
	padding-bottom: 9px;
	padding-left: 18px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(141,84,198,1.00);
	border-radius: 2.25px;
}
.Navigation_Navigation .Navigation_1 .Button .Button_2 .Register {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 48.75px;
	height: 18px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}