
.Signin_Signin {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.Signin_Signin .Rectangle2 {
	position: absolute;
	left: -3.75px;
	top: 108.75px;
	width: 1443.75px;
	height: 388.5px;
	background: rgba(217,217,217,1.00);
}
.Signin_Signin .Frame137 {
	position: absolute;
	left: 74.25px;
	top: 159px;
	width: 489px;
	height: 144px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Frame137 .ExploreSuitableCareerPathsBasedonInterestsandSkills {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 489px;
	height: 144px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 42px;
	font-weight: 500;
	line-height: 48px;
}
.Signin_Signin .Search {
	position: absolute;
	left: 74.25px;
	top: 318.75px;
	width: 509.25px;
	height: 93px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Search .Search_1 {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 509.25px;
	height: 60px;
	display: flex;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Signin_Signin .Search .Search_1 .Frame106 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 384px;
	height: 42px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 216px;
	height: 42px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.75px;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField .JobtittleKeyword {
	position: absolute;
	left: 40.5px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 117px;
	height: 18px;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField .fisearch {
	position: absolute;
	left: 13.5px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 18px;
	height: 18px;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField .fisearch .Vector {
	position: absolute;
	left: 2.25px;
	top: 2.25px;
	width: 66.66666666666666%;
	height: 66.66666666666666%;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField .fisearch .Vector_1 {
	position: absolute;
	left: 12.487518310546875px;
	top: 12.48750114440918px;
	width: 18.12500158945719%;
	height: 18.12500158945719%;
}
.Signin_Signin .Search .Search_1 .Frame106 .Line1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 0.0000010490733188817103px;
	height: 24px;
	border: 1px solid rgba(0,0,0,1);
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 168px;
	height: 42px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.75px;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField_1 .JobtittleKeyword_1 {
	position: absolute;
	left: 40.5px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 78px;
	height: 18px;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField_1 .fimappin {
	position: absolute;
	left: 13.5px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 18px;
	height: 18px;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField_1 .fimappin .Vector_2 {
	position: absolute;
	left: 2.25px;
	top: 0.75px;
	width: 75%;
	height: 91.66666666666666%;
}
.Signin_Signin .Search .Search_1 .Frame106 .InputField_1 .fimappin .Vector_3 {
	position: absolute;
	left: 6.75px;
	top: 5.25px;
	width: 25%;
	height: 25%;
}
.Signin_Signin .Search .Search_1 .Button {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 98.25px;
	height: 42px;
	display: flex;
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(141,84,198,1.00);
	border-radius: 3px;
}
.Signin_Signin .Search .Search_1 .Button .Primary {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 50.25px;
	height: 18px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}
.Signin_Signin .Search .Suggestion {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 353.25px;
	height: 15px;
	display: flex;
	box-sizing: border-box;
}
.Signin_Signin .Search .Suggestion .Suggestion_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 59.25px;
	height: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(5,15,27,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Search .Suggestion .Designer {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 49.5px;
	height: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,76,84,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Search .Suggestion .Programing {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 63px;
	height: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,76,84,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Search .Suggestion .DigitalMarketing {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 91.5px;
	height: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(127,73,181,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Signin_Signin .Search .Suggestion .Video {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 34.5px;
	height: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,76,84,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Search .Suggestion .Animation {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 55.5px;
	height: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(71,76,84,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .image2 {
	position: absolute;
	left: 852px;
	top: 130.5px;
	width: 426.75px;
	height: 329.25px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: linear-burn;
}
.Signin_Signin .Frame135 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 36px;
	display: flex;
	padding-right: 225px;
	padding-left: 225px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 {
	position: relative;
	flex: none;
	width: 390px;
	height: 36px;
	display: flex;
	box-sizing: border-box;
}
.Signin_Signin .Frame135 .Frame130 .NavLink {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 30px;
	height: 36px;
	display: flex;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 .NavLink .Home {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 30px;
	height: 15px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame130 .NavLink_1 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 43.5px;
	height: 36px;
	display: flex;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 .NavLink_1 .Home_1 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 43.5px;
	height: 15px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame130 .NavLink_2 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 51.75px;
	height: 36px;
	display: flex;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 .NavLink_2 .Home_2 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 51.75px;
	height: 15px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame130 .NavLink_3 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 57px;
	height: 36px;
	display: flex;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 .NavLink_3 .Home_3 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 57px;
	height: 15px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame130 .NavLink_4 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 63.75px;
	height: 36px;
	display: flex;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 .NavLink_4 .About {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 63.75px;
	height: 15px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame130 .NavLink_5 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 54px;
	height: 36px;
	display: flex;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(195,164,225,1.00);
}
.Signin_Signin .Frame135 .Frame130 .NavLink_5 .Contactus {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 54px;
	height: 15px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame135_1 {
	position: relative;
	flex: none;
	width: 212.25px;
	height: 18px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 116.25px;
	height: 18px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 .PhoneCall {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 18px;
	height: 18px;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 18px;
	height: 18px;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_5 {
	position: absolute;
	left: 11.208984375px;
	top: 2.8125px;
	width: 22.10256258646647%;
	height: 22.102582454681396%;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_6 {
	position: absolute;
	left: 10.62652587890625px;
	top: 4.9863739013671875px;
	width: 13.26154867808024%;
	height: 13.261562585830688%;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 .PhoneCall .PhoneCall_1 .Vector_7 {
	position: absolute;
	left: 2.8125px;
	top: 2.2727279663085938px;
	width: 71.74873352050781%;
	height: 71.74873352050781%;
}
.Signin_Signin .Frame135 .Frame135_1 .Frame134 ._213246628899 {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 92.25px;
	height: 15px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame135_1 .NavLink_6 {
	position: relative;
	flex: none;
	margin-right: 18px;
	width: 78px;
	height: 15px;
}
.Signin_Signin .Frame135 .Frame135_1 .NavLink_6 .image1 {
	position: absolute;
	left: 0px;
	top: 1.5px;
	width: 18px;
	height: 12px;
	object-fit: cover;
	overflow: hidden;
}
.Signin_Signin .Frame135 .Frame135_1 .NavLink_6 .Frame129 {
	position: absolute;
	left: 27px;
	top: 0px;
	width: 51px;
	height: 15px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Signin_Signin .Frame135 .Frame135_1 .NavLink_6 .Frame129 .English {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 36px;
	height: 15px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Frame135 .Frame135_1 .NavLink_6 .Frame129 .fichevrondown {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 12px;
	height: 12px;
}
.Signin_Signin .Frame135 .Frame135_1 .NavLink_6 .Frame129 .fichevrondown .Vector_8 {
	position: absolute;
	left: 3px;
	top: 4.5px;
	width: 50%;
	height: 25%;
}
.Signin_Signin .Navigation {
	position: absolute;
	left: 0px;
	top: 36px;
	width: 1440px;
	height: 52.5px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
}
.Signin_Signin .Navigation .Navigation_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1440px;
	height: 67.5px;
	display: flex;
	padding-top: 15px;
	padding-right: 225px;
	padding-bottom: 15px;
	padding-left: 225px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 {
	position: relative;
	flex: none;
	width: 677.25px;
	height: 37.5px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 152.25px;
	height: 30px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 19.704433497536947%;
	height: 100%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_10 {
	position: absolute;
	left: 3.75091552734375px;
	top: 8.4375px;
	width: 75%;
	height: 56.25001907348632%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_11 {
	position: absolute;
	left: 10.3125px;
	top: 4.6875px;
	width: 31.25%;
	height: 12.5%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_12 {
	position: absolute;
	left: 3.750732421875px;
	top: 14.801856994628906px;
	width: 75.00059127807617%;
	height: 10.035572052001953%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .briefcase1 .Vector_13 {
	position: absolute;
	left: 13.59375px;
	top: 14.0625px;
	width: 9.375%;
	height: 0%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Logo .RecruitRanks {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 116.25px;
	height: 30px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 501px;
	height: 37.5px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.75px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 {
	position: absolute;
	left: 18px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 318.75px;
	height: 24px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Flag_of_Pakistan1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 18px;
	height: 12px;
	object-fit: cover;
	overflow: hidden;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame127 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 64.5px;
	height: 15px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame127 .Pakistan {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 43.5px;
	height: 15px;
	color: rgba(24,25,28,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame127 .CaretDown {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame127 .CaretDown .CaretDown_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12px;
	height: 12px;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame127 .CaretDown .CaretDown_1 .Vector_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame127 .CaretDown .CaretDown_1 .Vector_15 {
	position: absolute;
	left: 2.25px;
	top: 4.5px;
	width: 62.5%;
	height: 31.25%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Line31 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 0.00000104907383047248px;
	height: 24px;
	border: 1px solid rgba(0,0,0,1);
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame128 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 191.25px;
	height: 18px;
	display: flex;
	box-sizing: border-box;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame128 .fisearch_1 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 18px;
	height: 18px;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame128 .fisearch_1 .Vector_16 {
	position: absolute;
	left: 2.25px;
	top: 2.25px;
	width: 66.66666666666666%;
	height: 66.66666666666666%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame128 .fisearch_1 .Vector_17 {
	position: absolute;
	left: 12.4874267578125px;
	top: 12.487495422363281px;
	width: 18.12500158945719%;
	height: 18.12500158945719%;
}
.Signin_Signin .Navigation .Navigation_1 .Frame126 .Search_2 .Frame136 .Frame128 .Jobtittlekeywordcompany {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 164.25px;
	height: 18px;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Navigation .Navigation_1 .Button_1 {
	position: relative;
	flex: none;
	width: 189.75px;
	height: 36px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Navigation .Navigation_1 .Button_1 .Button_2 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 75.75px;
	height: 36px;
	display: flex;
	padding-top: 9px;
	padding-right: 18px;
	padding-bottom: 9px;
	padding-left: 18px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 2.25px;
	border: 1px solid rgba(26.25860307365656,24.862499088048935,27.62500025331974,1);
	box-sizing: border-box;
}
.Signin_Signin .Navigation .Navigation_1 .Button_1 .Button_2 .Signin_1 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 39.75px;
	height: 18px;
	color: rgba(141,84,198,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}
.Signin_Signin .Navigation .Navigation_1 .Button_1 .Button_3 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 105px;
	height: 36px;
	display: flex;
	padding-top: 9px;
	padding-right: 18px;
	padding-bottom: 9px;
	padding-left: 18px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(141,84,198,1.00);
	border-radius: 2.25px;
}
.Signin_Signin .Navigation .Navigation_1 .Button_1 .Button_3 .Primary_1 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 69px;
	height: 18px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}
.Signin_Signin .Footer {
	position: absolute;
	left: 0px;
	top: 3141px;
	width: 1440px;
	height: 339px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	background: rgba(97,65,129,1.00);
}
.Signin_Signin .Footer .Footer_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 990px;
	height: 288px;
}
.Signin_Signin .Footer .Footer_1 .Jendo {
	position: absolute;
	left: 0px;
	top: 75px;
	width: 234px;
	height: 108px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 152.25px;
	height: 30px;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 19.704433497536947%;
	height: 100%;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_18 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_19 {
	position: absolute;
	left: 3.75091552734375px;
	top: 8.4375px;
	width: 75%;
	height: 56.25001907348632%;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_20 {
	position: absolute;
	left: 10.3125px;
	top: 4.6875px;
	width: 31.25%;
	height: 12.5%;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_21 {
	position: absolute;
	left: 3.750732421875px;
	top: 14.8018798828125px;
	width: 75.00059127807617%;
	height: 10.035572052001953%;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .briefcase1_1 .Vector_22 {
	position: absolute;
	left: 13.59375px;
	top: 14.0625px;
	width: 9.375%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Logo_1 .Jobpilot {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 116.25px;
	height: 30px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Frame7 {
	position: relative;
	flex: none;
	margin-bottom: 18px;
	width: 234px;
	height: 60px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Frame7 .PhoneNumber {
	position: relative;
	flex: none;
	margin-bottom: 9px;
	width: 161.25px;
	height: 21px;
	display: flex;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Frame7 .PhoneNumber .Callnow {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 58.5px;
	height: 21px;
	color: rgba(94,102,112,1.00);
	font-family: Inter;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 21px;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Frame7 .PhoneNumber ._3195550115 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 102.75px;
	height: 21px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 13.5px;
	font-weight: 500;
	line-height: 21px;
}
.Signin_Signin .Footer .Footer_1 .Jendo .Frame7 ._6391ElginStCelinaDelaware10299NewYorkUnitedStatesofAmerica {
	position: relative;
	flex: none;
	margin-bottom: 9px;
	width: 234px;
	height: 30px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Com {
	position: absolute;
	left: 301.5px;
	top: 75px;
	width: 150px;
	height: 153px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Com .QuickLink {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 66px;
	height: 117px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 34.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink .fiarrowright {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink .fiarrowright .Vector_23 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink .fiarrowright .Vector_24 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink .FooterLink_1 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_2 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 66px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_1 {
	position: relative;
	flex: none;
	margin-right: 4.5px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_1 .Vector_25 {
	position: absolute;
	left: 3.12506103515625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_2 .fiarrowright_1 .Vector_26 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_2 .Contact {
	position: relative;
	flex: none;
	margin-right: 4.5px;
	width: 70.45454545454545%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_3 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 39px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_2 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_2 .Vector_27 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_3 .fiarrowright_2 .Vector_28 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_3 .FooterLink_4 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_5 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 25.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_3 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_3 .Vector_29 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_5 .fiarrowright_3 .Vector_30 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Com .Link .FooterLink_5 .FooterLink_6 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Candidate {
	position: absolute;
	left: 481.5px;
	top: 75px;
	width: 150px;
	height: 153px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Candidate_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 123.75px;
	height: 117px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 73.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_4 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_4 .Vector_31 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .fiarrowright_4 .Vector_32 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_7 .FooterLink_8 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 104.25px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_5 .Vector_33 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .fiarrowright_5 .Vector_34 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_9 .FooterLink_10 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 123.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_6 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_6 .Vector_35 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .fiarrowright_6 .Vector_36 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_11 .FooterLink_12 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 66px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_7 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_7 .Vector_37 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .fiarrowright_7 .Vector_38 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Candidate .Link_1 .FooterLink_13 .FooterLink_14 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Employers {
	position: absolute;
	left: 661.5px;
	top: 75px;
	width: 150px;
	height: 153px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Employers .Employers_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 124.5px;
	height: 117px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 60px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_8 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_8 .Vector_39 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .fiarrowright_8 .Vector_40 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_15 .FooterLink_16 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 110.25px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_9 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_9 .Vector_41 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .fiarrowright_9 .Vector_42 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_17 .FooterLink_18 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 124.5px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_10 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_10 .Vector_43 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .fiarrowright_10 .Vector_44 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_19 .EmployersDashboard {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 69.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_11 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_11 .Vector_45 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .fiarrowright_11 .Vector_46 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Employers .Link_2 .FooterLink_20 .FooterLink_21 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Support {
	position: absolute;
	left: 841.5px;
	top: 75px;
	width: 150px;
	height: 123px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Support .Support_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 150px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 110.25px;
	height: 87px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_22 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 27.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_12 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_12 .Vector_47 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .fiarrowright_12 .Vector_48 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_22 .FooterLink_23 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_24 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 78.75px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_13 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_13 .Vector_49 {
	position: absolute;
	left: 3.75px;
	top: 9px;
	width: 70%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .fiarrowright_13 .Vector_50 {
	position: absolute;
	left: 9px;
	top: 3.75px;
	width: 35%;
	height: 70%;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_24 .FooterLink_25 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_26 {
	position: relative;
	flex: none;
	margin-bottom: 3px;
	width: 110.25px;
	height: 27px;
	display: flex;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	box-sizing: border-box;
	align-items: center;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_14 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_14 .Vector_51 {
	position: absolute;
	left: 3.12506103515625px;
	top: 7.5px;
	width: 58.33333015441895%;
	height: 0%;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .fiarrowright_14 .Vector_52 {
	position: absolute;
	left: 7.5px;
	top: 3.12506103515625px;
	width: 29.166665077209476%;
	height: 58.33333015441895%;
}
.Signin_Signin .Footer .Footer_1 .Support .Link_3 .FooterLink_26 .FooterLink_27 {
	position: relative;
	flex: none;
	margin-right: 3px;
	width: 100%;
	height: 66.66666666666666%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(145,153,163,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Signin_Signin .Footer .Copyright {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1440px;
	height: 51px;
	display: flex;
	padding-top: 18px;
	padding-right: 225px;
	padding-bottom: 18px;
	padding-left: 225px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(24,25,28,1.00);
}
.Signin_Signin .Footer .Copyright ._2021JobpilotJobPortalAllrightsRserved {
	position: relative;
	flex: none;
	width: 234.75px;
	height: 15px;
	color: rgba(118,127,140,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Signin_Signin .Footer .Copyright .SocialMedia {
	position: relative;
	flex: none;
	width: 97.50062942504883px;
	height: 15px;
	display: flex;
	box-sizing: border-box;
}
.Signin_Signin .Footer .Copyright .SocialMedia .Vector_53 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 7.692900659468868%;
	height: 100%;
}
.Signin_Signin .Footer .Copyright .SocialMedia .youtube1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Copyright .SocialMedia .youtube1 .Vector_54 {
	position: absolute;
	left: 0px;
	top: 2.255859375px;
	width: 100%;
	height: 70.01618385314941%;
}
.Signin_Signin .Footer .Copyright .SocialMedia .youtube1 .Vector_55 {
	position: absolute;
	left: 6.00494384765625px;
	top: 5.258056640625px;
	width: 26.029205322265625%;
	height: 29.9835205078125%;
}
.Signin_Signin .Footer .Copyright .SocialMedia .instagram1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Copyright .SocialMedia .instagram1 .Vector_56 {
	position: absolute;
	left: 0.0263671875px;
	top: 0px;
	width: 99.98046875%;
	height: 99.99969482421875%;
}
.Signin_Signin .Footer .Copyright .SocialMedia .instagram1 .Vector_57 {
	position: absolute;
	left: 3.674560546875px;
	top: 3.648193359375px;
	width: 51.37722015380859%;
	height: 51.37722015380859%;
}
.Signin_Signin .Footer .Copyright .SocialMedia .instagram1 .Vector_58 {
	position: absolute;
	left: 10.63385009765625px;
	top: 2.5960693359375px;
	width: 11.995058059692383%;
	height: 11.994261741638184%;
}
.Signin_Signin .Footer .Copyright .SocialMedia .twitter1 {
	position: relative;
	flex: none;
	margin-right: 15px;
	width: 15px;
	height: 15px;
}
.Signin_Signin .Footer .Copyright .SocialMedia .twitter1 .Vector_59 {
	position: absolute;
	left: 0px;
	top: 1.40625px;
	width: 100%;
	height: 81.25%;
}
.Signin_Signin .Loin {
	position: absolute;
	left: 209.25px;
	top: 27.599676724137936%;
	transform: translate(0, -50%);
	width: 957px;
	height: 1238.25px;
}
.Signin_Signin .Loin .Rectangle1379 {
	position: absolute;
	left: 37.5%;
	top: 37.5%;
	transform: translate(-50%, -50%);
	width: 957px;
	height: 1238.25px;
	background: linear-gradient(180deg, rgba(127, 73, 181, 1.00) 0.0%, rgba(55, 32, 79, 1.00) 100.0%);
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds {
	position: absolute;
	left: 173.25px;
	top: 232.82070922851562px;
	width: 604.5921936035156px;
	height: 825.0709533691406px;
}
.Signin_Signin .Loin .Fileds .Login {
	position: absolute;
	left: 10.641272408260203%;
	top: 3.8418171550908653%;
	transform: translate(-50%, -50%);
	width: 156.76287460327148px;
	height: 84.52724647521973px;
	display: flex;
	align-items: center;
	color: rgba(245,245,245,1.00);
	font-family: Poppins;
	font-size: 28.5px;
	font-weight: 700;
	line-height: 42.75px;
}
.Signin_Signin .Loin .Fileds .Email {
	position: absolute;
	left: 4.251726885778236%;
	top: 11.795045749891116%;
	transform: translate(-50%, -50%);
	width: 56.73322677612305px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background: linear-gradient(180deg, rgba(127, 73, 181, 1.00) 0.0%, rgba(55, 32, 79, 1.00) 100.0%);
	font-family: Poppins;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
}
.Signin_Signin .Loin .Fileds .Rectangle1381 {
	position: absolute;
	left: 37.959005620889556%;
	top: 17.25446983388769%;
	transform: translate(-50%, -50%);
	width: 597.19189453125px;
	height: 74.14669990539551px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.75px;
}
.Signin_Signin .Loin .Fileds .Rectangle1382 {
	position: absolute;
	left: 37.959005620889556%;
	top: 31.54333686913801%;
	transform: translate(-50%, -50%);
	width: 597.19189453125px;
	height: 74.14669990539551px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.75px;
}
.Signin_Signin .Loin .Fileds .Password {
	position: absolute;
	left: 7.029801606176118%;
	top: 26.083925268531594%;
	transform: translate(-50%, -50%);
	width: 101.52262115478516px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background: linear-gradient(180deg, rgba(127, 73, 181, 1.00) 0.0%, rgba(55, 32, 79, 1.00) 100.0%);
	font-family: Poppins;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
}
.Signin_Signin .Loin .Fileds .Rectangle1384 {
	position: absolute;
	left: 12.678544617542826%;
	top: 65.24349693394068%;
	transform: translate(-50%, -50%);
	width: 186.62244415283203px;
	height: 74.14669990539551px;
	background: rgba(255,255,255,1.00);
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .Rectangle1385 {
	position: absolute;
	left: 37.86642624677854%;
	top: 65.24349693394068%;
	transform: translate(-50%, -50%);
	width: 186.62244415283203px;
	height: 74.14669990539551px;
	background: rgba(255,255,255,1.00);
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .Rectangle1386 {
	position: absolute;
	left: 63.05430787601425%;
	top: 65.24349693394068%;
	transform: translate(-50%, -50%);
	width: 186.62244415283203px;
	height: 74.14669990539551px;
	background: rgba(255,255,255,1.00);
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .usernamegmailcom {
	position: absolute;
	left: 19.9015430075507%;
	top: 17.321875329422795%;
	transform: translate(-50%, -50%);
	width: 240.36973571777344px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.75px;
}
.Signin_Signin .Loin .Fileds .Password_1 {
	position: absolute;
	left: 11.289511871193362%;
	top: 31.610738203543065%;
	transform: translate(-50%, -50%);
	width: 101.52262115478516px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.75px;
}
.Signin_Signin .Loin .Fileds .orcontinuewith {
	position: absolute;
	left: 38.977659116194275%;
	top: 58.70566190228834%;
	transform: translate(-50%, -50%);
	width: 168.70670700073242px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background: linear-gradient(180deg, rgba(127, 73, 181, 1.00) 0.0%, rgba(55, 32, 79, 1.00) 100.0%);
	font-family: Poppins;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
}
.Signin_Signin .Loin .Fileds .Donthaveanaccountyet {
	position: absolute;
	left: 17.779674803396066%;
	top: 73.58458966229655%;
	transform: translate(-50%, -50%);
	width: 286.6520690917969px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	color: rgba(197,188,206,1.00);
	font-family: Poppins;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
}
.Signin_Signin .Loin .Fileds .Registerforfree {
	position: absolute;
	left: 51.49380333042136%;
	top: 73.58458966229655%;
	transform: translate(-50%, -50%);
	width: 168.70670700073242px;
	height: 31.14161968231201px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15px;
	font-weight: 600;
	line-height: 22.5px;
}
.Signin_Signin .Loin .Fileds .ForgotPassword {
	position: absolute;
	left: 10.733875206530097%;
	top: 38.14856933413597%;
	transform: translate(-50%, -50%);
	width: 158.255859375px;
	height: 26.69281768798828px;
	display: flex;
	align-items: center;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background: linear-gradient(180deg, rgba(127, 73, 181, 1.00) 0.0%, rgba(55, 32, 79, 1.00) 100.0%);
	font-family: Poppins;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
}
.Signin_Signin .Loin .Fileds .Rectangle1383 {
	position: absolute;
	left: 37.959005620889556%;
	top: 48.12380896321284%;
	transform: translate(-50%, -50%);
	width: 597.19189453125px;
	height: 74.14669990539551px;
	background: rgba(141,84,198,1.00);
	border-radius: 3.75px;
}
.Signin_Signin .Loin .Fileds .Signin_2 {
	position: absolute;
	left: 38.42203167922997%;
	top: 48.1237929688692%;
	transform: translate(-50%, -50%);
	width: 103.01559448242188px;
	height: 44.488022804260254px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}
.Signin_Signin .Loin .Fileds .flatcoloriconsgoogle {
	position: absolute;
	left: 12.771144576520737%;
	top: 65.24349108235154%;
	transform: translate(-50%, -50%);
	width: 35.83150863647461px;
	height: 35.59041881561279px;
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .flatcoloriconsgoogle .Group2212 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35.83089351654053px;
	height: 35.590415954589844px;
}
.Signin_Signin .Loin .Fileds .flatcoloriconsgoogle .Group2212 .Vector_60 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99.99999201520625%;
	height: 99.99828774721554%;
}
.Signin_Signin .Loin .Fileds .flatcoloriconsgoogle .Group2212 .Vector_61 {
	position: absolute;
	left: 2.06451416015625px;
	top: 0px;
	width: 78.2799875916305%;
	height: 38.77433006703028%;
}
.Signin_Signin .Loin .Fileds .flatcoloriconsgoogle .Group2212 .Vector_62 {
	position: absolute;
	left: 1.966461181640625px;
	top: 21.402557373046875px;
	width: 78.03498217993653%;
	height: 39.864319642385155%;
}
.Signin_Signin .Loin .Fileds .flatcoloriconsgoogle .Group2212 .Vector_63 {
	position: absolute;
	left: 17.9154052734375px;
	top: 14.23590087890625px;
	width: 50.00000399239688%;
	height: 47.069796889841534%;
}
.Signin_Signin .Loin .Fileds .akariconsgithubfill {
	position: absolute;
	left: 37.77384758249052%;
	top: 65.1086954354484%;
	transform: translate(-50%, -50%);
	width: 35.83150863647461px;
	height: 35.59041881561279px;
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .akariconsgithubfill .Group {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 97.53301371819842%;
}
.Signin_Signin .Loin .Fileds .akariconsgithubfill .Group .Vector_64 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Signin_Signin .Loin .Fileds .clarityeyehideline {
	position: absolute;
	left: 69.44386404584117%;
	top: 31.543344476203885%;
	transform: translate(-50%, -50%);
	width: 23.887676239013672px;
	height: 23.726945400238037px;
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .clarityeyehideline .Vector_65 {
	position: absolute;
	left: 10.87554931640625px;
	top: 7.3421630859375px;
	width: 25.63901097427009%;
	height: 25.72221943880677%;
}
.Signin_Signin .Loin .Fileds .clarityeyehideline .Vector_66 {
	position: absolute;
	left: 8.77880859375px;
	top: 4.962890625px;
	width: 59.30556493752566%;
	height: 47.08334938570222%;
}
.Signin_Signin .Loin .Fileds .clarityeyehideline .Vector_67 {
	position: absolute;
	left: 1.57928466796875px;
	top: 2.827423095703125px;
	width: 83.88887371804361%;
	height: 76.38887356503126%;
}
.Signin_Signin .Loin .Fileds .bifacebook {
	position: absolute;
	left: 62.961706497390345%;
	top: 65.24349108235154%;
	transform: translate(-50%, -50%);
	width: 35.83150863647461px;
	height: 35.59041881561279px;
	border-radius: 30px;
}
.Signin_Signin .Loin .Fileds .bifacebook .Group_1 {
	position: absolute;
	left: -0.00384521484375px;
	top: -0.001922607421875px;
	width: 100.0125039723667%;
	height: 100.0124841707066%;
}
.Signin_Signin .Loin .Fileds .bifacebook .Group_1 .Vector_68 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}