
.SizeLargePositionPrimaryIconRightStatusNormal_SizeLargePositionPrimaryIconRightStatusNormal {
	width: 161px;
	height: 56px;
	display: flex;
	padding-top: 16px;
	padding-right: 32px;
	padding-bottom: 16px;
	padding-left: 32px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(10,101,204,1.00);
	border-radius: 4px;
}