.jobCard {
    background: linear-gradient(to right, #cc8dcc, #794b79);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .jobCardContainer {
    padding: 20px;
  }
  
  .company {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .title {
    font-size: 16px;
    margin-top: 5px;
    color: #555;
  }
  
  .location {
    font-size: 14px;
    margin-top: 5px;
    color: #777;
  }
  .status {
    padding: 8px;
    background-color: #e0f7fa;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: #555;
    /* //color: #00796b; */
}