.apply-now-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem; /* Convert to rem */
  padding: 0.625rem 1.25rem; /* Convert to rem */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-now-button:hover {
  background-color: #0069d9;
}

.card {
  width: 18rem; /* Convert to rem */
  border: 0.0625rem solid #ccc; /* Convert to rem */
  border-radius: 0.3125rem; /* Convert to rem */
  margin-bottom: 1.25rem; /* Convert to rem */
}
