.editCandWrapper {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.CandTextFieldSmall,
.CandTextFieldBig {
    width: auto; /* Ensure text fields take up full width */
    padding: 1rem; /* Convert to rem */
    border: none;
    font-size: 1.2rem; /* Convert to rem */
    border-radius: 1rem; /* Convert to rem */
    background-color: #f1f1f1;
}

.CandTextFieldBig {
    height: 12.25rem; /* Convert to rem */
}