.feed {
    flex: 8;
    color: #464646;
}

.feedWrapper {
    padding: 3rem;
}

.feedHeadingBox {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.feedTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: #464646;
}

.feedSubheading {
    font-size: 1.6rem;
    color: #777;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.SearchIcon {
    font-size: 2rem !important;
    color: #464646;
}

.searchInput {
    flex: 1;
    background-color: #e5e4e4;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    outline: none;
}

.jobPostingsSection {
    margin-bottom: 3rem;
}

.jobPostingHeading {
    font-size: 2.2rem;
    font-weight: 700;
    color: #464646;
    margin-bottom: 1.5rem;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyJobsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorIcon {
    font-size: 4rem !important;
    color: #FF5733;
}

.errorMessage {
    font-size: 1.8rem;
    color: #FF5733;
}

.jobPostings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .jobPostings {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
