.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: hidden;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    overflow-y: hidden;
}

.dashboard-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats-heading {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    
}

.stats-headingPie {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 150px;
    
}

.pie-chart-container, .stats-chart-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%;
}

.pie-chart-container {
    height: 300px; /* Adjust height to make the pie chart smaller */
}

.stats-chart-container {
    height: 500px; /* Adjust height as needed */
}

@media (max-width: 768px) {
    .stats-chart-container, .pie-chart-container {
        height: 300px; /* Adjust height for smaller screens */
    }
}
