:root {
    font-size: calc((0.5vw + 0.5vh + 0.25vmin) * 1.2);
}

.CandfeedHome {
    flex: 8;
    color: #464646;
}

.CandfeedWrapper1 {
    padding: 3rem; /* Convert to rem */
}

.feed1 {
    flex: 8;
    height: 100%;
    overflow-y: scroll;
    color: #464646;
    max-width: 100%;
}

.CandfeedTitle1 {
    font-size: 3rem; /* Convert to rem */
    font-weight: 900;
    color: #464646;
}

.Candsearchbar1 {
    margin-top: 2rem; /* Convert to rem */
    width: 100%;
    margin-right: 1.25rem; /* Convert to rem */
    height: 2rem; /* Convert to rem */
    background-color: #e5e4e4;
    border-radius: 3rem; /* Convert to rem */
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 1rem; /* Convert to rem */
    box-shadow: 0.0625rem 0.9375rem 1.3125rem 0px rgba(0, 0, 0, 0.05); /* Convert to rem */
}

.CandSearchIcon1 {
    font-size: 1.5rem !important; /* Convert to rem */
    color: #464646;
    margin-left: 1rem; /* Convert to rem */
    margin-right: 1.25rem; /* Convert to rem */
}

.CandsearchInput1 {
    background-color: transparent;
    border: none;
    width: 90%;
    font-size: 1.25rem; /* Convert to rem */
}

.CandsearchInput1:focus {
    outline: none;
}

.line {
    margin-top: 1.25rem; /* Convert to rem */
    height: 0px;
    width: 100%;
    margin-right: 1.25rem; /* Convert to rem */
    border: 0.0625rem solid #e5e4e4; /* Convert to rem */
    border-radius: 2rem; /* Convert to rem */
}

.filter {
    border: none;
    height: 4rem; /* Convert to rem */
    width: 4rem; /* Convert to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c6c6;
    border: none;
    border-radius: 30%; /* Convert to rem */
    cursor: pointer;
    box-shadow: 0px 0px 0.625rem -0.0625rem rgba(0, 0, 0, 0.17); /* Convert to rem */
    transition: 300ms;
}

.CandjobPostings1 {
    padding-top: 2rem; /* Convert to rem */
    display: grid;
    flex-direction: column;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Convert to rem */
}

.CandjobPostingHeading1 {
    font-size: 3.6rem; /* Convert to rem */
    font-weight: 900;
}
